body {
	font-family: "quicksand", "georgia", sans-serif;
	font-size: 18px;
	color: #2a224a;
	line-height: 1.2;
	margin: 0 auto;	
	background: url(img/formes.png) no-repeat center top #EAE9E9;

}
.title {
	font-size: 30px;
	line-height: 1.2;
	font-family: 'quicksand', sans-serif;
	color: #2D2825;
	font-weight: normal;
}
.container{
	width: 1200px;
	margin: 0 auto;

}
.container--text {
	width: 400px;
	height: 200px;
	margin: 0 auto;
	display: block;
}
.center {
	text-align: center;

}
.text {
  text-align: left; 
}
.social{
	display: inline-block;
	margin-left: 5px;
	margin-top: 10px;

}
.nav__el{
	font-weight: 900;
	text-decoration:none;
	color: #2a224a;
}
a:hover{
	opacity: .5;
	outline:0;
}

/*images*/

.img{
	padding-top: 18px;
}
.background{
	background: url(img/formes.png);
}










